Repository elgalu/iometrics: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, pylint, poetry

Path conditions:
  pytest: any of: ^tests\/.*test_.*\.py$ and \.py$
  pylint: any of: \.py$
  poetry: any of: ^pyproject.toml$

Add PyTorch-Lightning support
  CHANGELOG.md
  iometrics/__init__.py
  iometrics/example.py
  iometrics/pytorch_lightning/callbacks.py
  pyproject.toml
  tbump.toml
  tests/test_iometrics.py
  tests/test_run_instances.py
Due: pytest, pylint, poetry

Add PyTorch-Lightning support
  .changelog.d/PyTorch-Lightning.fixed
  .changelog.d/initial_setup.add
  CONTRIBUTING.md
  iometrics/pytorch_lightning/callbacks.py
  poetry.lock
  pyproject.toml
  tests/test_iometrics.py
Due: pytest, pylint, poetry

Fix PyTorch-Lightning support
  .changelog.d/PyTorch-Lightning.fixed
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  iometrics/__init__.py
  iometrics/average_metrics.py
  iometrics/disk.py
  iometrics/example.py
  iometrics/network.py
  iometrics/pytorch_lightning/callbacks.py
  pyproject.toml
  setup.cfg
  tests/test_iometrics.py
Due: pytest, pylint, poetry

[ci skip] Bump to 0.0.3
  iometrics/__init__.py
  pyproject.toml
  tbump.toml
Due: pylint, poetry

README.md chores
  README.md
Due: none

Fix bug in PyTorch-Lightning integration
  .changelog.d/pl.fixed
  CHANGELOG.md
  CONTRIBUTING.md
  iometrics/pytorch_lightning/callbacks.py
  tests/test_iometrics.py
Due: pytest, pylint

Fix bug in PyTorch-Lightning integration
  .changelog.d/pl.fixed
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

[ci skip] Bump to 0.0.4
  iometrics/__init__.py
  pyproject.toml
  tbump.toml
Due: pylint, poetry

Add how to install to the README.md
  CHANGELOG.md
  README.md
Due: none

Add network_recv_MB_per_sec.png to the README.md
  README.md
  docs/img/metrics/network_recv_MB_per_sec.png
Due: none

Initial pipeline yaml commit
  .DS_Store
  build.yml
Due: none

initial pipelines commit
  pipelines/azdo/build.yml
Due: none

initial pipelines commit
  pipelines/azdo/readme.md
Due: none

Add cicd config for circleci
  .circleci/config.yml
  scripts/build.sh
  scripts/install.sh
Due: none

Fix circleci config
  .circleci/config.yml
Due: none

Change python version
  .python-version
Due: none

Use exact Python image
  .circleci/config.yml
  .python-version
Due: none

Store build artifacts
  .circleci/config.yml
Due: none

Add cicd config for circleci (#2)
  .circleci/config.yml
  scripts/build.sh
  scripts/install.sh
Due: none

Add support for Python 3.7
  pyproject.toml
Due: poetry

Devices like AWS EBS or USB drives can get dynamically detached so validate key
  iometrics/disk.py
Due: pylint

Add support for Python 3.7
  .circleci/config.yml
  .python-version
  README.md
Due: none

Changelog for version 0.0.5
  .changelog.d/dettach.fixed
  .changelog.d/py37.add
  CHANGELOG.md
  CONTRIBUTING.md
  iometrics/__init__.py
  pyproject.toml
  tbump.toml
Due: pylint, poetry

Add disk/io_wait% for Disks I/O percentage of time that the CPU is waiting
  .changelog.d/io_wait.add
  CHANGELOG.md
  iometrics/disk.py
  iometrics/example.py
  iometrics/pytorch_lightning/callbacks.py
  poetry.lock
  pyproject.toml
Due: pylint, poetry

Release 0.0.6 with "disk/io_wait%" support
  .changelog.d/dettach.fixed
  .changelog.d/io_wait.add
  .changelog.d/py37.add
  CHANGELOG.md
  CONTRIBUTING.md
  iometrics/__init__.py
  pyproject.toml
  tbump.toml
Due: pylint, poetry

Add TRACK_METRICS_INTERVAL_SECS=10 to track metrics less often
  .changelog.d/TRACK_METRICS_INTERVAL_SECS.add
  CONTRIBUTING.md
  iometrics/pytorch_lightning/callbacks.py
Due: pylint

Release 0.0.7 with TRACK_METRICS_INTERVAL_SECS support
  .changelog.d/TRACK_METRICS_INTERVAL_SECS.add
  CHANGELOG.md
  CONTRIBUTING.md
  iometrics/__init__.py
  pyproject.toml
  tbump.toml
Due: pylint, poetry

Add Docker Support
  README.md
  fakeproc.sh
  iometrics/network.py
  requirements.txt
Due: pylint

Add Docker Support closes #3
  README.md
  fakeproc.sh
  iometrics/network.py
  requirements.txt
Due: pylint

add iometrics start ; iometrics replicate proc
  README.md
  fakeproc.sh
  iometrics/cli.py
  iometrics/network.py
  iometrics/pytorch_lightning/callbacks.py
  pyproject.toml
  tasks.py
Due: pylint, poetry

Prep CLI release on 0.0.8
  .changelog.d/cli.add
  CONTRIBUTING.md
Due: none

fix CHANGELOG
  .changelog.d/cli.add
  CHANGELOG.md
  CONTRIBUTING.md
Due: none

Release 0.0.8 with dummy CLI
  iometrics/__init__.py
  pyproject.toml
  tbump.toml
Due: pylint, poetry

Devices like AWS EBS or USB drives can get dynamically detached so validate key
  CONTRIBUTING.md
  iometrics/disk.py
Due: pylint

add iowait to display
  iometrics/example.py
  pyproject.toml
  setup.cfg
Due: pylint, poetry

add iowait to display (#7)
  iometrics/example.py
  pyproject.toml
  setup.cfg
Due: pylint, poetry
